/* fill in styles here */

img {
  width: 272px;
  height: 92px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 109px;
  display: block;
}

a {
  color: #222;
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}

input {
  display: block;
  height: 34px;
  width: 527px;
  border-radius: 24px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}

button {
  font-family: sans-serif;
  margin-top: 10%;
  border: none;
  width: 129px;
  height: 36px;
  color: #5f6368;
  border-radius: 5px;
  background-color: #f2f2f2;
}

button:hover{
  border-style: solid;
  border-color: #222;
  border-radius: 5px;
  border-width: 1px;
}

#buttons {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 26.95%;
  display: flex;
  width: 15%;
  justify-content: space-around;
  align-items: center;
}

#main_container {
  display: box;
  /* background-color: black; */
  position: absolute;
  min-height: 50%;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

#footer_container {
  margin-top: 28.85%;
  position: relative;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  height: 40px;
  justify-content: space-between;
  border-style: solid;
  border-left-color: #f2f2f2;
  border-right-color: #f2f2f2;
  border-bottom-color: #f2f2f2;
  border-width: 1px;
}

#left {
  display: flex;
}

#right {
  display: flex;
}

#ad{
  width: 97px;
  padding-left: 27px;
}

#bus{
  width: 84px;
}

#how{
  width: 142px;
}

#priv{
  width: 73px;
}

#terms{
  width: 65px;
}

#set{
  width: 78px;
  padding-right: 27px;
}

.footer_left {
  font-family: sans-serif;
  line-height: 40px;
  text-align: center;
  justify-content: space-around;
}

.footer_right {
  font-family: sans-serif;
  line-height: 40px;
  text-align: center;
  justify-content: space-around;
}
